<head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/fonts.css" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    
</head>

<%- include('comps/header', {name: name, title: 'Menu'}); %>

</div>

<div class="menu">
    <div class="admin-items">
            <% if(role==='root'){ %>
                <%- include('comps/card', {admin: true,href: '/users' , link: '/images/user.svg' , title: "Users" }); %>
            <% } %>

            <% if(role==='admin' || role==='root' ){ %>
                <%- include('comps/card', {admin: true, href: '/clients' , link: '/images/clients.svg' , title: "Clients" }); %>
            <% } %>
            <% if(role==='admin' || role==='root' ){ %>
                <%- include('comps/card', {admin: true, href: '/stats' , link: '/images/data.svg' , title: "General Stats" }); %>
            <% } %>

            <% if(role==='admin' || role==='root' ){ %>
                <%- include('comps/card', {admin: true, href: '/categories' , link: '/images/percent.svg' , title: "Categories" }); %>
                    <% } %>

            <% if(role==='user' || role==='root'){ %>
                <%- include('comps/card', {admin: true, href: '/input' , link: '/images/qr.svg' , title: "Input" }); %>
            <% } %>
    </div>
    
</div>
<script src="/javascripts/logout.js"></script>